<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minima quas error ratione eos dicta voluptate tenetur nihil repellat? Natus in sed aperiam asperiores dicta adipisci, a at consequuntur porro.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minima quas error ratione eos dicta voluptate tenetur nihil repellat? Natus in sed aperiam asperiores dicta adipisci, a at consequuntur porro.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minima quas error ratione eos dicta voluptate tenetur nihil repellat? Natus in sed aperiam asperiores dicta adipisci, a at consequuntur porro.</p>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>